<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--importing xml configuration from other xml-->
    <import resource="classpath*:spring/helloWorldConfig.xml"/>

    <context:component-scan base-package="com.kanoidsan.Learning.try05.scaningPlace"/>
    <bean id="greetingController" class="com.kanoidsan.Learning.try05.scaningPlace.controllers.GreetingController">
        <property name="helloWorldService" ref="helloWorldServiceDefault"/>
        <property name="helloWorldServicePolish" ref="helloWorldServicePolish"/>
        <property name="helloWorldServiceFrench" ref="french"/>
    </bean>

</beans>